*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    background-color: #1f1d1d;   
}

::-webkit-scrollbar-thumb {
    background-color: #8885; /* Color del "pulgar" (la parte móvil de la barra) */
    border-radius: 5px; /* Bordes redondeados del pulgar */
}

img {
    max-width: 100%;
}

body {
    min-height: 100dvh;
    font-family: sans-serif;
    background-color: #000;
    flex-direction: column;
    color: #fff;
    display: grid;
    place-content: center;
}


header {
    padding: 0.5rem 2rem;
    background-color: #0071eb;
    border-radius: 12px 12px 0 0;
    text-align: center;
    position: relative;
    z-index: 10;
    box-shadow: 0 10px 10px #0005;

    h1 {
        font-size: 1.4rem;
        font-weight: 100;
    }

    img {
        width: 8rem;
        
    }
}

main {
    scroll-behavior: smooth;
    width: 23rem;
    height: 30rem;
    background-color: #111;
    display: flex;
    flex-direction: column;
    position: relative;
}
small{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    z-index: 2;
    display: none;
    /* overflow: hidden; */
    img{
        display: block;
        width: 5rem;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;
        animation: rotate 1s infinite;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.content__chat {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    scroll-behavior: smooth;
    overflow-y: auto;
    scrollbar-width: 2px;
    /* scrollbar-color: #000; */
}

.message {
    /* width: 1rem; */
    margin-top: 1rem;
    min-width: 5.5rem;
    max-width: 82%;
    position: relative;
    /* z-index: 2; */
    --width-img: 1.9rem;

    img {
        position: absolute;
        top: -12px;
        background-color: #ccc;
        border-radius: 50%;
        padding: 0.2rem;
        width: var(--width-img);
    }

    span {
        /* width: 1rem; */
        display: inline-block;
        /* margin-left: -5px; */
        /* min-width: 0.5rem; */
        /* text-align: center; */
        width: calc(100% - var(--width-img) - 0.3rem);
        padding: 0.5rem;
        border-radius: 0px 12px 12px 12px;
        /* position: relative; */
    }
}

.message.user {
    margin-left: auto;
    text-align: left;

    img {
        right: 0;
        left: auto;
        /* margin-right: 10px; */
    }

    span {
        /* margin-right: 10px; */
        /* float: left; */
        background-color: #ccc;
        color: #000c;
        border-radius: 12px 0px 12px 12px;
    }
}

.message.assistant {
    margin-right: auto;

    img {
        background-color: #007bff;
        left: 0;
        right: auto;
    }

    span {
        float: right;
        background-color: #0071eb;
        color: #fffd;
    }

}


form {
    text-align: center;
    margin-top: auto;
    margin-bottom: 0.5rem;

    input {
        border: none;
        padding: 0.6rem;
        background-color: #eee;
        font-weight: bold;
        color: #000c;
        width: 80%;
        border-radius: 12px;
    }

    input:focus-visible {
        outline: none;
    }

    button {
        vertical-align: middle;
        background-color: #0071eb;
        border: none;
        border-radius: 50%;
        padding: 0.15rem;
        cursor: pointer;

        img {
            margin-left: 4px;
            width: 2rem;
            vertical-align: middle;
        }
    }
}

footer {
    background-color: #0071eb;
    padding: 1.2rem;
    text-align: center;
    border-radius: 0 0 12px 12px;
    font-size: 0.8rem;
}